body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    #222831,
    #262c35,
    #2a3039,
    #2f343d,
    #333841,
    #38424e,
    #3c4c5b,
    #3f5768,
    #3c6b80,
    #338196,
    #2197a8,
    #00adb5
  );
  text-align: center;
  color: white;
}

.app-tittle {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #0ccac4;
  font-family: "Bigelow Rules", cursive;
}
